<section class="relative flex font-inter bg-[#181234] px-[120px] py-[80px] mt-48 h-[552px]">
  <div class="max-container flex flex-col items-center justify-center w-full py-[60px] px-[91px] bg-[#3F1F55] rounded-2xl">
    <h1 class="text-xl capitalize mb-6">Rhoncus, accumsan dictum</h1>
    <h2 class="text-5xl font-semibold capitalize w-[900px] text-center mb-12">Etiam nulla lectus amet nunc molestie at vulputate.</h2>
    <button class="button border border-white flex items-center gap-5">
      <span>Get Started</span>
      <img ngSrc="/assets/icons/chevron-right.svg" width="24" height="24"/>
    </button>
  </div>
  <img
    ngSrc="/assets/images/get-started.png"
    width="518"
    height="533"
    alt="get started"
    class="absolute bottom-0 left-32 -scale-x-100"
  />
</section>
