<section class="xl:padding-l wide:padding-r sm:pb-24 hero">
  <main
    id="home"
    class="flex flex-col justify-start w-full min-h-screen gap-10 xl:flex-row max-container"
  >
    <div
      class="relative flex flex-col items-start justify-center w-full xl:w-2/5 max-xl:padding-x pt-28"
    >
      <p class="text-orange font-inter text-sm font-medium">Ai & Robotics</p>
      <h1 class="font-coolvetica text-7xl leading-[150%]">
        Next Level <br />
        Machine <br />intelligence
      </h1>
    </div>
    <div
      class="relative flex flex-col items-center justify-center flex-1 xl:min-h-screen max-xl:py-40 bg-primary ml-72"
    >
      <div class="relative">
        <img ngSrc="/assets/icons/polygon.svg" width="58" height="66" />
        <img
          ngSrc="/assets/icons/stars.svg"
          width="25"
          height="19"
          class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        />
      </div>
      <div class="relative">
        <h1
          class="uppercase font-inter rotate-90 origin-center mt-40 w-[230px] border border-white px-2 py-4 absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        >
          Artificial intelligence
        </h1>
      </div>
      <img
        ngSrc="/assets/icons/subtract.svg"
        width="200"
        height="115"
        class="absolute bottom-0"
      />
    </div>
    <img
      ngSrc="/assets/images/robot-hand-finger.png"
      width="380"
      height="312"
      class="absolute bottom-0 right-0"
    />
  </main>
</section>
