<footer class="border-t-[0.2px] border-white border-opacity-25 mt-[177px] pb-[119px]">
  <div class="flex flex-col gap-12 pt-[72px] max-container">
    <div class="flex items-start justify-between">
      <div>
        <h1 class="text-base font-bold mb-4">Product</h1>
        <ul class="flex flex-col gap-3 opacity-50">
          <li>
            <a href="">Diam orci</a>
          </li>
          <li>
            <a href="">Mi feugiat</a>
          </li>
          <li>
            <a href="">Netus fermentum</a>
          </li>
          <li>
            <a href="">Suspendisse viverra</a>
          </li>
          <li>
            <a href="">Id dolor</a>
          </li>
          <li>
            <a href="">Erat mattis</a>
          </li>
        </ul>
      </div>
      <div>
        <h1 class="text-base font-bold mb-4">Information</h1>
        <ul class="flex flex-col gap-3 opacity-50">
          <li>
            <a href="">Nibh</a>
          </li>
          <li>
            <a href="">Egestas</a>
          </li>
          <li>
            <a href="">Dictum</a>
          </li>
        </ul>
      </div>
      <div>
        <h1 class="text-base font-bold mb-4">Company</h1>
        <ul class="flex flex-col gap-3 opacity-50">
          <li>
            <a href="">Id maecenas</a>
          </li>
          <li>
            <a href="">Id orci</a>
          </li>
          <li>
            <a href="">Magna ultricies</a>
          </li>
          <li>
            <a href="">Quis risus</a>
          </li>
        </ul>
      </div>
      <div class="py-[30px] px-[42px] w-[338px] bg-purple">
        <h1 class="text-base font-bold mb-4">Subscribe</h1>
        <div class="flex items-center py-[18px]">
          <input placeholder="Email address" class="bg-transparent border-y border-l border-white rounded-l-xl p-4"/>
          <button class="bg-orange  py-[21px] px-3 rounded-r-xl">
            <img
              ngSrc="/assets/icons/chevron-right.svg"
              width="64"
              height="64"
            />
          </button>
        </div>
        <p class="text-xs">
          Gravida sed justo, justo, id est et. Amet tristique convallis sed
          porttitor nullam eu ut. Duis et odio aliquam bibendum. Metus et lectus
          id viverra fringilla magna morbi.
        </p>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-9 text-sm">
        <p>Terms</p>
        <p>Privacy</p>
        <p>Cookies</p>
      </div>
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 flex items-center justify-center border-2 border-[#1F2032] rounded-full">
          <img ngSrc="/assets/icons/linkedin.svg" width="20" height="20"/>
        </div>
        <div class="w-10 h-10 flex items-center justify-center border-2 border-[#1F2032] rounded-full">
          <img ngSrc="/assets/icons/facebook.svg" width="20" height="20"/>
        </div>
        <div class="w-10 h-10 flex items-center justify-center border-2 border-[#1F2032] rounded-full">
          <img ngSrc="/assets/icons/lucide.svg" width="20" height="20"/>
        </div>
      </div>
    </div>
  </div>
</footer>
