<section class="relative padding">
  <div class="about-container max-container p-[72px]">
    <h1 class="text-orange uppercase text-center text-base">WHO WE ARE</h1>
    <h2 class="solution">We Help To Get Solutions</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur. Ac pellentesque velit ullamcorper
      nulla odio massa. Viverra dignissim ac vitae interdum consequat elementum
      sed. Tincidunt porttitor eget et adipiscing sagittis diam. Vitae sed nam
      vulputate bibendum ornare vitae. Scelerisque sit sed.
    </p>
    <div class="relative flex items-center justify-center gap-14 mt-9">
      <div class="flex items-center justify-around w-[254px] gap-8">
        <img
          ngSrc="/assets/icons/rocket.svg"
          alt="rocket"
          width="58"
          height="58"
        />
        <div>
          <h1 class="text-rgba(255, 255, 255, 0.90) text-base font-bold mb-3">
            Lorem Ipsum
          </h1>
          <p class="text-rgba(255, 255, 255, 0.90) text-xs">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="flex items-center justify-around w-[254px] gap-8">
        <img
          ngSrc="/assets/icons/solution.svg"
          alt="solution"
          width="46"
          height="55"
        />
        <div>
          <h1 class="text-rgba(255, 255, 255, 0.90) text-base font-bold mb-3">
            Lorem Ipsum
          </h1>
          <p class="text-rgba(255, 255, 255, 0.90) text-xs">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </div>
      </div>
    </div>
    <img ngSrc="/assets/images/ellipse.svg" class="absolute left-0 bottom-4" width="107" height="214"/>
    <img ngSrc="/assets/images/girl.png" class="absolute right-2 -bottom-[0.5px]" width="310" height="320"/>
  </div>
</section>
