<section class="max-container font-inter py-20">
  <div class="w-[839px] mx-auto">
    <h1 class="text-5xl font-semibold text-center mb-4">
      Frequent ask questions
    </h1>
    <p class="text-center text-xl leading-[28px] capitalize mb-[72px]">
      Pellentesque cras adipiscing tempus libero vel nullam mauris tellus.
      Aliquam ultrices tellus consequat amet, lectus aliquam est in neque.
    </p>
    <div>
      <div>
        <div class="flex items-center justify-between py-5 text-xl">
          <h2>How soon will my order ship?</h2>
          <img
            ngSrc="/assets/icons/chevron-white-right.svg"
            width="25"
            height="24"
          />
        </div>
      </div>
      <div class="flex flex-col gap-6">
        <div class="flex items-center justify-between py-5 text-xl">
          <h2>Is there any warranty exclusions?</h2>
          <img ngSrc="/assets/icons/arrow-down.svg" width="15" height="8" />
        </div>
        <p class="text-base leading-6">
          Elementum ullamcorper felis nulla scelerisque. Nunc enim nunc mattis
          leo massa.
        </p>
      </div>
      <div>
        <div class="flex items-center justify-between py-5 text-xl">
          <h2>Are there any return exclusions?</h2>
          <img
            ngSrc="/assets/icons/chevron-white-right.svg"
            width="25"
            height="24"
          />
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between py-5 text-xl">
          <h2>Will I be charged for a replacement item?</h2>
          <img
            ngSrc="/assets/icons/chevron-white-right.svg"
            width="25"
            height="24"
          />
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between py-5 text-xl">
          <h2>How can I track my orders & payment?</h2>
          <img
            ngSrc="/assets/icons/chevron-white-right.svg"
            width="25"
            height="24"
          />
        </div>
      </div>
    </div>
  </div>
</section>
