<section
  class="flex flex-col items-center justify-center font-inter bg-purple px-[120px] py-[80px] mt-40"
>
  <div
    class="max-container flex flex-col items-center justify-center w-full py-[60px] px-[91px] rounded-2xl"
  >
    <h1 class="text-xl capitalize mb-6">Rhoncus, accumsan dictum</h1>
    <h2 class="text-5xl font-semibold capitalize w-[900px] text-center mb-8">
      Etiam nulla lectus amet nunc molestie at vulputate.
    </h2>
    <h1 class="text-xl capitalize mb-[60px] text-white-gray">
      Rhoncus, accumsan dictum
    </h1>
  </div>
  <div class="relative">
    <img
      ngSrc="/assets/images/humanoid.jpg"
      width="926"
      height="520"
      alt="get started"
      class="object-cover w-[926px] h-[520px]"
    />
    <img ngSrc="/assets/icons/play.svg" width="92" height="92" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>
  </div>
</section>
