<section class="relative padding mt-44">
    <div class="relative flex items-center justify-between w-full  pt-32 max-container">
      <img ngSrc="/assets/images/life.jpg" width="540" height="450" alt=""/>
      <div class="w-1/2">
        <h1 class="text-orange font-inter text-base mb-4">Lorem Ipsum</h1>
        <h2 class="title mb-7">Ai Robots Technology</h2>
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur. Ac pellentesque velit
          ullamcorper nulla odio massa. Viverra dignissim ac vitae interdum
          consequat elementum sed. Tincidunt porttitor eget et adipiscing
          sagittis diam. Vitae sed nam vulputate bibendum ornare vitae.
          Scelerisque sit sed.Lorem ipsum dolor sit amet consectetur. Ac
          pellentesque velit ullamcorper nulla odio massa. Viverra dignissim ac
          vitae interdum consequat elementum sed. Tincidunt porttitor eget et
          adipiscing sagittis diam. Vitae sed nam vulputate bibendum ornare
          vitae. Scelerisque sit sed.Lorem ipsum dolor sit amet consectetur. Ac
          pellentesque velit ullamcorper nulla odio massa. Viverra dignissim ac
          vitae interdum consequat elementum sed. Tincidunt porttitor eget et
          adipiscing sagittis diam. Vitae sed nam vulputate bibendum ornare
          vitae. Scelerisque sit sed.
        </p>
      </div>
    </div>
  
</section>
