<header class="fixed z-10 w-full py-8 padding-x border-b-[0.1px] border-b-white border-opacity-30 bg-dark-blue">
  <nav class="flex items-center justify-between max-container font-inter">
    <a routerLink="/">
      <img ngSrc="/assets/images/Logo.svg" width="132" height="35" alt="Logo" />
    </a>
    <ul
      class="flex items-center text-slate-gray text-sm justify-center flex-1 gap-8 max-lg:hidden"
    >
      <li>
        <a
          href=""
          class="active"
          >Home</a
        >
      </li>
      <li>
        <a href="">Updates</a>
      </li>
      <li>
        <a href="">Services</a>
      </li>
      <li>
        <a href="">Features</a>
      </li>
      <li>
        <a href="">About Us</a>
      </li>
    </ul>
    <div class="flex items-center gap-5">
      <div class="flex items-center gap-2">
        <img
          ngSrc="/assets/icons/feather.svg"
          alt="Feather"
          width="24"
          height="25"
        />
        <span>EN</span>
      </div>
      <button>Login</button>
    </div>
  </nav>
</header>
